.myimg {
  min-height: 70vh;
  background-color: burlywood;
}

img {
  max-width: 320px;
  float: left;
  border: 3px solid #fff;
  border-radius: 10px;
  margin: 5% 5%;
}

p {
  font-size: 15px;
  justify-content: center;
  margin: 5% 5%;
  padding: 5% 5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  margin: 5% 5%;
  padding-top: 5%;
}
